.cargo/git
.cargo/registry
.cargo/.global-cache
.cargo/.package-cache
.cargo/.package-cache-mutate
.cargo/bin
.cargo/.crates.toml
.cargo/.crates2.json
.config/nvim/lazyvim.json
.config/fish/fish_variables
.tmux
